@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --primary-color: rgba(254, 163, 1, 1);
    --secondary-color: rgba(1, 172, 253, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
}

/* Shared Styles */

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.btn-primary {
    padding: 15px 50px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 12px;
    border: none;
    background-color: var(--primary-color);
    color: white;
}





/* Styling for Header Part */

header {
    display: flex;
    justify-content: space-between;
    padding: 30px 7%;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

nav ul li a {
    text-decoration: none;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

header .logo span {
    font-size: 2rem;
    font-weight: 700;
}